@import "variables";
@import "mixins";

* {
  font-family: $main-font;
  font-size: $font-size;
  box-sizing: border-box; 

  @include respond-to(700px) {
    font-size: 40px;
  }
}

body {
  margin: 0;
}