<div class="outer">
  <div class="moving-icon">
    <div class="moving-icon-inner">
      <div class="moving-icon-inner-inner"></div>
    </div> 
    <div class="moving-icon-inner move-1">
      <div class="moving-icon-inner-inner delay-1"></div>
    </div> 
    <div class="moving-icon-inner move-2">
      <div class="moving-icon-inner-inner delay-2"></div>
    </div> 
    <div class="moving-icon-inner move-3">
      <div class="moving-icon-inner-inner delay-3"></div>
    </div> 
    <div class="moving-icon-inner move-4">
      <div class="moving-icon-inner-inner delay-4"></div>
    </div> 
    <div class="moving-icon-inner move-5">
      <div class="moving-icon-inner-inner delay-5"></div>
    </div> 
    <div class="moving-icon-inner move-6">
      <div class="moving-icon-inner-inner delay-6"></div>
    </div> 
    <div class="moving-icon-inner move-7">
      <div class="moving-icon-inner-inner delay-7"></div>
    </div> 
    <div class="moving-icon-inner move-8">
      <div class="moving-icon-inner-inner delay-8"></div>
    </div> 
    <div class="moving-icon-inner move-9">
      <div class="moving-icon-inner-inner delay-9"></div>
    </div> 
    <div class="moving-icon-inner move-10">
      <div class="moving-icon-inner-inner delay-10"></div>
    </div> 
    <div class="moving-icon-inner move-11">
      <div class="moving-icon-inner-inner delay-11"></div>
    </div>   
  </div>
</div>
