@import "../../global-styles/variables";
@import "../../global-styles/mixins";

:host {
  width: 100%;
  height: $image-heigth;
  position: relative;
}

.post-image-section {
  width: $image-width;
  height: $image-heigth;
  overflow: hidden;
  border: 3px solid $black;
  position: absolute;
  border-bottom: 0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include respond-to (700px) {
    width: 20px;
    height: 20px;
  }
}

.post-info-section {
  margin-left: $image-width;
  height: $image-heigth;
  padding: 10px;
  border: $border-size solid $grey;
  border-left: none;
  border-bottom: 0;

  &.last-item {
    border-bottom: 3px solid $grey;
  }

  p {
    margin: 0;
  }

  h3 {
    margin: 0;
    color: $blue;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}