<section class="main-container">
  <input type="text" (keydown)="searchFunction($event.target.value)" placeholder="Search by tags">
  <section class="profiles-list">
      <div class="profile" 
           *ngFor="let profile of profiles; let index = index; let last = last" 
           [routerLink]="['/profile', index]">
        <div class="profile-image-section" [class.last-item]="last">
          <img src="{{profile.media.m}}" alt="">
        </div> 
        <div class="profile-info-section" [class.last-item]="last">
          <h3 class="photo-title" *ngIf="profile.title !==' '">{{profile.title}}</h3>
          <h3 class="photo-title" *ngIf="profile.title ===' '">No title</h3>
          <div class="detail-info">
            <p>Published: {{profile.published | date: 'd MMM y'}} at {{profile.published | date: 'h:mm:ss a'}}</p>
            <div class="links">
              <a href="{{'https://www.flickr.com/photos/' + profile.author_id}}" (click)="preventComponentLoad($event)">Photo author</a>
              <br>
              <a href="{{profile.link}}" (click)="preventComponentLoad($event)">View on Flickr</a>
            </div>
          </div>
        </div>
      </div>
  </section>
</section>

