@import "../../global-styles/variables";

.main-container {
  max-width: $max-container-width;
  margin: auto;
}

.search-input {
  width: 100%;
  max-width: 960px;
  height: 2.5em;
  font-size: 1.3em;
  position: fixed;
  padding: 0.5em;
  background-color: $white;
  z-index: 999;
  top:0;
  margin: auto;
  border: 2px solid $grey;
}

.post-list {
  margin-top: 3.2em;
}