@import "../../global-styles/variables";
@import "../../global-styles/mixins";

.post-container {
  max-width: $max-container-width;
  margin: auto;
}

.post-view {
  padding: 1.5em;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    width: 70%;

    @include respond-to($mobile-big){
      width: 80%;
    }

    h2 {
      font-size: 1.6em;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      color: $blue;
      white-space: nowrap;
    }
  }
}

.back-button {
  background-color: $white;
  border: 1px $blue solid;
  border-left: none;
  border-radius: 4px;
  font-weight: bold;
  background-color: $blue;
  color: $white;
  font-size: $desktop-size;
  padding: 0.2em;
  height: 2em;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    left: -1.87em;
    border-color: transparent #0000ff transparent transparent;
    border-width: 0.95em;
  }
}

.info-section {
  margin: 1em 0;
  display: flex;
  
  p {
    margin: 0;
  }

  .vertical-line {
    border-left: 1px $black solid;
    margin: 0 1em;
  }
}

.content-img {
  width: 100%;

  @include respond-to($tablet){
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }

  img {
    display:block;
    margin: 0 auto;
    max-width: 100%;

    @include respond-to($tablet){
      margin: 0;
    }
  }
}

.content-text {
  padding: 1em 0;

  @include respond-to($tablet){
    padding: 0 10px;
    width: 65%;
    display: inline-block;
    vertical-align: top;
  }

  p {
    margin-top: 0;
    margin-bottom: 1em;
  } 
}

.content-tags-intro {
  display: inline-block;
}

.content-tags {
  display: inline-block;
  color: $blue;
  text-decoration: underline;
  margin: 0 0.5em 1em 0;
}